{{!
	The header HTML for the week albums
}}
<h1><a href="#v/{{parentAlbumPath}}">{{fulltitle}}</a></h1>
<div class="button-group float-right">
	<a href="#v/{{parentAlbumPath}}" class="button">&#x2039; {{parentAlbumPath}}</a>
</div>