{{#if album.description}}
<section class="caption">
	<h1 class="hidden">Overview</h1>
	{{{album.description}}}
</section>
{{/if}}
<section class="thumbnails">
	<h1 class="hidden">Pictures</h1>
	{{{thumbnails}}}
</section>