<header class="header">
	<div class="header-primary clearfix">
		<h1>Dean, Lucie, Felix and Milo Moses</h1>
	</div>
</header>
<section class="album root">
	<section id="thumbnails"></section>
</section>
