{{#if album.description}}
<section class="caption">
	<h1 class="hidden">Overview</h1>
	{{{album.description}}}
</section>
{{/if}}
<div class="container-table">
	<div class="firsts-container">
		<section class="firsts">
			<h1 class="hidden">Firsts</h1>
			<p><span>First poutine</span>Jan 1 (F)</p>
			<p><span>First dog</span>Feb 16 (F+M)</p>
		</section>
	</div>
	<section class="thumbnails">
		<h1 class="hidden">Pictures</h1>
		{{{thumbnails}}}
	</section>
</div>