<nav class="years">
	<h1 class="hidden">Years</h1>
   	<a href="#v/2013">2013</a>
    <a href="#v/2012">2012</a>
    <a href="#v/2011">2011</a>
    <a href="#v/2010">2010</a>
    <a href="#v/2009">2009</a>
    <a href="#v/2008">2008</a>
    <a href="#v/2007">2007</a>
    <a href="/pix/2006/index.php">2006</a>
    <a href="/pix/2005/index.php">2005</a>
    <a href="/pix/2004/index.php">2004</a>
    <a href="/pix/2003/index.php">2003</a>
    <a href="/pix/2002/index.php">2002</a>
    <a href="/pix/2001/index.php">2001</a>
    <a href="/pix/1973/dean/index.php">1973</a>
</nav>