{{!
	The header HTML for the week albums
}}
<div class="header-primary clearfix">
	<div class="button-group float-right">
		<a href="#v/{{parentAlbumPath}}" class="button">&#x2039; Back</a>
	</div>
	<h1><a href="#v/{{parentAlbumPath}}">{{title}}</a></h1>
</div>
