{{! 
	Layout for most pages of app.
	
	The header is flexible width.
	The body takes 100% of the rest of the height.
}}
<div class="container-table {{pageType}}">
	<section class="container-table-row header">
		<div class="container-table-cell" id="header">
			{{{header}}}
		</div>
	</section>
	<div class="container-table-row body">
		<div class="container-table-cell" id="body">
			{{{body}}}
		</div>
	</div>
</div>