{{!
	The body HTML for the photo page
}}
<div class="photo-container">
	<img src="http://tacocat.com/pictures/d/{{id}}-3/{{pathComponent}}" style="max-width: {{width}}px; max-height: {{height}}px" />
</div>