/* line 23, ../sass/utilities.scss */
.clearfix:before, .button-group:before, .avatar-list-item-info:before, .clearfix:after, .button-group:after, .avatar-list-item-info:after {
  content: " ";
  display: table;
}
/* line 28, ../sass/utilities.scss */
.clearfix:after, .button-group:after, .avatar-list-item-info:after {
  clear: both;
}

/* line 33, ../sass/utilities.scss */
.float-left {
  float: left;
}

/* line 37, ../sass/utilities.scss */
.float-right {
  float: right;
}

/* line 42, ../sass/utilities.scss */
.hidden,
[data-hidden="true"] {
  display: none !important;
}

/* line 46, ../sass/utilities.scss */
.disabled {
  opacity: .5;
  cursor: normal !important;
}

/* line 53, ../sass/utilities.scss */
.button {
  position: relative;
  display: inline-block;
  padding: 0.6em 1.2em;
  background-color: #44484e;
  border: 1px solid #1b1e21;
  border-radius: 3px;
  text-align: center;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
}
/* line 64, ../sass/utilities.scss */
.button[href], .button.active {
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: background-color 300ms;
  -moz-transition: background-color 300ms;
  -o-transition: background-color 300ms;
  transition: background-color 300ms;
}
/* line 69, ../sass/utilities.scss */
.button[href]:hover, .button.active:hover {
  background-color: #565a5f;
}
/* line 74, ../sass/utilities.scss */
.button:not([href]) {
  color: #aaa;
  cursor: default;
}
/* line 77, ../sass/utilities.scss */
.button:not([href]) :hover {
  cursor: default;
  background-color: inherit;
}
/* line 83, ../sass/utilities.scss */
.button:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 4px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
}
/* line 94, ../sass/utilities.scss */
.button.success {
  background-color: #72a924;
  border-color: #4f7619;
}
/* line 98, ../sass/utilities.scss */
.button.success:after {
  border-color: rgba(255, 255, 255, 0.3);
}
/* line 102, ../sass/utilities.scss */
.button.success:hover {
  background-color: #80b139;
}

/* line 112, ../sass/utilities.scss */
.button-group .button {
  display: inline-block;
  margin: 0 0.5em 0 0;
}

/* line 118, ../sass/utilities.scss */
.circle-button {
  position: relative;
  width: 2em;
  height: 2em;
  background-color: #44484e;
  border-radius: 100%;
  border: 1px solid black;
  color: #ffffff;
  font-size: 1.2em;
  line-height: 0;
  cursor: pointer;
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  -o-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition: -webkit-transform 100ms;
  -moz-transition: -moz-transform 100ms;
  -o-transition: -o-transform 100ms;
  transition: transform 100ms;
}
/* line 134, ../sass/utilities.scss */
.circle-button:hover {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  -moz-transform: scale3d(1.1, 1.1, 1.1);
  -ms-transform: scale3d(1.1, 1.1, 1.1);
  -o-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}
/* line 138, ../sass/utilities.scss */
.circle-button.icon:before {
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  margin: 0 0 0 -25%;
  color: inherit;
  font-size: inherit;
  line-height: 0;
}
/* line 150, ../sass/utilities.scss */
.circle-button.edit {
  background-color: #44484e;
  border-color: #1b1e21;
}
/* line 155, ../sass/utilities.scss */
.circle-button.remove {
  background-color: #ff5040;
  border-color: #bc3d3d;
}

/* line 163, ../sass/utilities.scss */
.component {
  position: relative;
  width: 100%;
  margin: 2em 0;
  border: 1px solid #4581bf;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(97, 167, 237, 0.75);
  -moz-box-shadow: 0px 0px 4px 0px rgba(97, 167, 237, 0.75);
  box-shadow: 0px 0px 4px 0px rgba(97, 167, 237, 0.75);
  -webkit-transition: background-color 1000ms;
  -moz-transition: background-color 1000ms;
  -o-transition: background-color 1000ms;
  transition: background-color 1000ms;
}
/* line 174, ../sass/utilities.scss */
.component:hover {
  background-color: #f4faff;
  -webkit-box-shadow: 0px 0px 6px 1px rgba(97, 167, 237, 0.75);
  -moz-box-shadow: 0px 0px 6px 1px rgba(97, 167, 237, 0.75);
  box-shadow: 0px 0px 6px 1px rgba(97, 167, 237, 0.75);
}
/* line 179, ../sass/utilities.scss */
.component:first-child {
  margin-top: 0;
}
/* line 183, ../sass/utilities.scss */
.component h3 {
  padding: .85rem;
  border-bottom: 1px solid #e7e7e7;
  font-size: 1.2em;
}
/* line 191, ../sass/utilities.scss */
.component .circle-button {
  margin-left: .3em;
  font-size: 1.3em;
  -webkit-box-shadow: 0 0px 6px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0px 6px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0px 6px 0px rgba(0, 0, 0, 0.25);
}
/* line 198, ../sass/utilities.scss */
.component .circle-button.add {
  margin: 1em 0;
  background-color: #3077c1;
  border-color: #205893;
}

/* line 206, ../sass/utilities.scss */
.component-actions {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  padding: 0 0 0.5em 0;
  margin-bottom: -3em;
  opacity: 0;
  text-align: right;
  -webkit-transition-property: margin, opacity;
  -moz-transition-property: margin, opacity;
  -o-transition-property: margin, opacity;
  transition-property: margin, opacity;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}

/* line 222, ../sass/utilities.scss */
.component:hover .component-actions {
  opacity: 1;
  margin-bottom: 0;
}

/* line 227, ../sass/utilities.scss */
.component-drag {
  width: 72px;
  height: 79px;
  position: absolute;
  right: -11px;
  top: -7px;
  background: url(../../img/component-drag.png) left top no-repeat;
  cursor: move;
}

/* line 237, ../sass/utilities.scss */
.component[data-state="blank"] {
  text-align: center;
}

/* line 242, ../sass/utilities.scss */
.component[data-state="preview"] .component-inner {
  opacity: .5;
}

/* line 251, ../sass/utilities.scss */
.component[data-state="fixed"] {
  border-color: #cccccc;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}
/* line 255, ../sass/utilities.scss */
.component[data-state="fixed"]:hover {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
}

/* line 263, ../sass/utilities.scss */
.component[data-state="active"] .component-actions,
.component[data-state="fixed"] .component-actions {
  display: block;
}

/* line 269, ../sass/utilities.scss */
.feed {
  color: #363636;
  padding: 1em;
}

/* line 274, ../sass/utilities.scss */
.feed-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 278, ../sass/utilities.scss */
.feed-item a {
  color: #0059a9;
  font-weight: 700;
}
/* line 283, ../sass/utilities.scss */
.feed-item input {
  width: 100%;
  border: 1px solid #d8d8d8;
  border-radius: 2px;
}

/* line 293, ../sass/utilities.scss */
.feed-item-avatar {
  float: left;
  width: 12%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 300, ../sass/utilities.scss */
.avatar {
  max-width: 100%;
}

/* line 304, ../sass/utilities.scss */
.feed-item-content-wrapper {
  float: left;
  width: 88%;
  min-height: 2em;
  padding: 0 0 0 1.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 313, ../sass/utilities.scss */
.feed-item-title {
  display: inline-block;
  margin-bottom: .75em;
}

/* line 318, ../sass/utilities.scss */
.feed-item-content {
  font-size: .9em;
  line-height: 1.4;
}

/* line 324, ../sass/utilities.scss */
.feed-item-feed .feed-item {
  margin: 1.5em 0;
  padding: 1.5em 0;
  border-top: 1px solid #cccccc;
}
/* line 329, ../sass/utilities.scss */
.feed-item-feed .feed-item .feed-item-avatar {
  width: 10%;
  opacity: .6;
}
/* line 334, ../sass/utilities.scss */
.feed-item-feed .feed-item .feed-item-content-wrapper {
  width: 90%;
}

/* line 339, ../sass/utilities.scss */
.publisher {
  margin: 0 0 3em 0;
}

/* line 343, ../sass/utilities.scss */
.publisher-actions {
  padding: 1em 0 0 0;
  font-size: .8em;
  color: #73787f;
}

/* line 350, ../sass/utilities.scss */
.publisher-action {
  display: inline-block;
  margin: 0 2em 2em 0;
  font-weight: bold;
}
/* line 356, ../sass/utilities.scss */
.publisher-action .icon:before {
  font-weight: normal !important;
}

/* line 361, ../sass/utilities.scss */
.publisher-input {
  border: 1px solid #cccccc;
  width: 80%;
}

/* line 370, ../sass/utilities.scss */
.task-list-item {
  position: relative;
  padding: 0.85rem 0.85rem 0.85rem 2.5rem;
  border-bottom: 1px solid #e7e7e7;
  font-size: .9em;
  line-height: 1.2;
  vertical-align: middle;
}
/* line 379, ../sass/utilities.scss */
.task-list-item:last-child {
  border-bottom: none;
}
/* line 383, ../sass/utilities.scss */
.task-list-item .checkbox {
  position: absolute;
  left: .85em;
  top: .95em;
}

/* line 390, ../sass/utilities.scss */
.avatar-list {
  padding: .85rem;
}

/* line 394, ../sass/utilities.scss */
.avatar-list-item {
  position: relative;
  display: inline-block;
  margin: 0 0.5em 0.5em 0;
  width: 3.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 403, ../sass/utilities.scss */
.avatar-list-item img {
  max-width: 100%;
  opacity: .5;
}

/* line 409, ../sass/utilities.scss */
.avatar-list-item-info {
  display: block;
  width: auto;
  margin: 1em 0;
}
/* line 416, ../sass/utilities.scss */
.avatar-list-item-info img {
  float: left;
  width: 3.5em;
  max-width: none;
  height: auto;
}
/* line 423, ../sass/utilities.scss */
.avatar-list-item-info .info {
  float: left;
  margin: 0 0 0 0.5em;
  color: #999999;
}
/* line 430, ../sass/utilities.scss */
.avatar-list-item-info em {
  display: block;
  margin: 0.35em 0 0.35em 0;
  color: #2a2929;
}
/* line 437, ../sass/utilities.scss */
.avatar-list-item-info:first-child {
  margin-top: 0;
}
/* line 441, ../sass/utilities.scss */
.avatar-list-item-info:last-child {
  margin-bottom: 0;
}

/* line 448, ../sass/utilities.scss */
.context-menu[data-type="info"] {
  width: auto;
}

/* line 452, ../sass/utilities.scss */
[data-type="info"] .context-menu-inner {
  padding: 0.5em 1.5em;
  text-align: center;
}

/* line 460, ../sass/utilities.scss */
.context-menu {
  display: inline-block;
  position: absolute;
  left: 100px;
  top: 100px;
  width: 22em;
  background-color: #383c41;
  border: 1px solid #1b1e21;
  border-radius: 6px;
  opacity: 0;
  color: #ffffff;
  -webkit-box-shadow: 0 4px 16px 2px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0 4px 16px 2px rgba(0, 0, 0, 0.45);
  box-shadow: 0 4px 16px 2px rgba(0, 0, 0, 0.45);
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}
/* line 477, ../sass/utilities.scss */
.context-menu.hide {
  display: none;
}
/* line 481, ../sass/utilities.scss */
.context-menu:before {
  display: block;
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: 1.2em;
  border-style: solid;
  z-index: 10;
}
/* line 492, ../sass/utilities.scss */
.context-menu[data-visible="true"] {
  opacity: 1;
}
/* line 496, ../sass/utilities.scss */
.context-menu[data-position="left"] {
  margin-left: -.5em;
  -webkit-transform-origin: right top 0 50%;
  -moz-transform-origin: right top 0 50%;
  -ms-transform-origin: right top 0 50%;
  -o-transform-origin: right top 0 50%;
  transform-origin: right top 0 50%;
  -webkit-transform: rotate3d(0, 0, 1, 45deg) scale3d(0.75, 0.75, 0.75);
  -moz-transform: rotate3d(0, 0, 1, 45deg) scale3d(0.75, 0.75, 0.75);
  -ms-transform: rotate3d(0, 0, 1, 45deg) scale3d(0.75, 0.75, 0.75);
  -o-transform: rotate3d(0, 0, 1, 45deg) scale3d(0.75, 0.75, 0.75);
  transform: rotate3d(0, 0, 1, 45deg) scale3d(0.75, 0.75, 0.75);
}
/* line 502, ../sass/utilities.scss */
.context-menu[data-position="left"][data-visible="true"] {
  -webkit-transform: rotate3d(0, 0, 1, 0deg) scale3d(1, 1, 1);
  -moz-transform: rotate3d(0, 0, 1, 0deg) scale3d(1, 1, 1);
  -ms-transform: rotate3d(0, 0, 1, 0deg) scale3d(1, 1, 1);
  -o-transform: rotate3d(0, 0, 1, 0deg) scale3d(1, 1, 1);
  transform: rotate3d(0, 0, 1, 0deg) scale3d(1, 1, 1);
}
/* line 506, ../sass/utilities.scss */
.context-menu[data-position="left"]:before {
  left: 100%;
  border-width: 14px 0 14px 12px;
  border-color: transparent transparent transparent #383c41;
}
/* line 513, ../sass/utilities.scss */
.context-menu[data-position="right"] {
  margin-left: .5em;
  -webkit-transform-origin: left top 0 50%;
  -moz-transform-origin: left top 0 50%;
  -ms-transform-origin: left top 0 50%;
  -o-transform-origin: left top 0 50%;
  transform-origin: left top 0 50%;
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  -moz-transform: rotate3d(0, 0, 1, -45deg);
  -ms-transform: rotate3d(0, 0, 1, -45deg);
  -o-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}
/* line 519, ../sass/utilities.scss */
.context-menu[data-position="right"][data-visible="true"] {
  -webkit-transform: rotate3d(0, 0, 1, 0deg) scale3d(1, 1, 1);
  -moz-transform: rotate3d(0, 0, 1, 0deg) scale3d(1, 1, 1);
  -ms-transform: rotate3d(0, 0, 1, 0deg) scale3d(1, 1, 1);
  -o-transform: rotate3d(0, 0, 1, 0deg) scale3d(1, 1, 1);
  transform: rotate3d(0, 0, 1, 0deg) scale3d(1, 1, 1);
}
/* line 523, ../sass/utilities.scss */
.context-menu[data-position="right"]:before {
  right: 100%;
  border-width: 14px 12px 14px 0;
  border-color: transparent #383c41 transparent transparent;
}
/* line 530, ../sass/utilities.scss */
.context-menu[data-position="top"] {
  margin-bottom: .5em;
}
/* line 533, ../sass/utilities.scss */
.context-menu[data-position="top"]:before {
  top: 100%;
  bottom: auto;
  left: 50%;
  margin: 0 0 0 -14px;
  border-width: 12px 14px 0 14px;
  border-color: #383c41 transparent transparent transparent;
}
/* line 543, ../sass/utilities.scss */
.context-menu[data-position="bottom"] {
  margin-top: .5em;
}
/* line 546, ../sass/utilities.scss */
.context-menu[data-position="bottom"]:before {
  bottom: 100%;
  top: auto;
  left: 50%;
  margin: 0 0 -1px -14px;
  border-width: 0 14px 12px 14px;
  border-color: transparent transparent #383c41 transparent;
}

/* line 557, ../sass/utilities.scss */
.context-menu-inner {
  border-top: 1px solid #56595d;
  border-radius: inherit;
  overflow: hidden;
  max-height: 100em;
  white-space: nowrap;
  vertical-align: top;
  -webkit-transition: height 300ms;
  -moz-transition: height 300ms;
  -o-transition: height 300ms;
  transition: height 300ms;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 569, ../sass/utilities.scss */
.context-menu-inner label {
  display: block;
  margin: 0 0 0.75em 0;
  font-weight: bold;
}
/* line 576, ../sass/utilities.scss */
.context-menu-inner input {
  width: 100%;
}
/* line 580, ../sass/utilities.scss */
.context-menu-inner .field {
  margin: 0 0 1.2em 0;
}
/* line 584, ../sass/utilities.scss */
.context-menu-inner .circle-button {
  border: none;
  font-size: 1.5em;
}

/* line 591, ../sass/utilities.scss */
.context-menu-view {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  -webkit-transition: -webkit-transform 300ms;
  -moz-transition: -moz-transform 300ms;
  -o-transition: -o-transform 300ms;
  transition: transform 300ms;
}

/* line 600, ../sass/utilities.scss */
.context-menu-title {
  padding: 1em 1.3em 1em 1.3em;
  font-size: 1.3em;
}
/* line 605, ../sass/utilities.scss */
.context-menu-title a {
  color: #73787f;
}

/* line 610, ../sass/utilities.scss */
.context-menu-section-title {
  padding: 0.75em 1.3em 0.75em 1.3em;
  background-color: #2e3135;
  color: #73787f;
  font-size: .80em;
  text-transform: uppercase;
}

/* line 619, ../sass/utilities.scss */
.context-menu-content {
  white-space: normal;
}
/* line 623, ../sass/utilities.scss */
.context-menu-content .quick-find input {
  width: 100%;
}
/* line 628, ../sass/utilities.scss */
.context-menu-content.properties {
  padding: 1.3em;
}
/* line 632, ../sass/utilities.scss */
.context-menu-content.add-item {
  text-align: center;
}

/* line 637, ../sass/utilities.scss */
.context-menu-footer {
  padding: 2em 1.3em 2em 1.3em;
  border-top: 1px solid #4d5258;
  font-size: 1.1em;
}

/* line 645, ../sass/utilities.scss */
.context-menu-items .item {
  padding: 1em 1.3em;
}
/* line 649, ../sass/utilities.scss */
.context-menu-items .quick-find {
  padding-top: 0;
}
/* line 653, ../sass/utilities.scss */
.context-menu-items .menu-item {
  background-color: inherit;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1.2em;
  -webkit-transition: background-color 300ms;
  -moz-transition: background-color 300ms;
  -o-transition: background-color 300ms;
  transition: background-color 300ms;
}
/* line 662, ../sass/utilities.scss */
.context-menu-items .menu-item a {
  display: block;
  padding-top: 1em;
  padding-bottom: 1em;
  color: inherit;
  text-decoration: none;
}
/* line 670, ../sass/utilities.scss */
.context-menu-items .menu-item a.icon:before {
  margin-right: 1em;
  color: #73787f;
}
/* line 677, ../sass/utilities.scss */
.context-menu-items .menu-item:hover {
  background-color: #44484e;
}

/* line 689, ../sass/utilities.scss */
.required {
  color: #fe5656;
}

/* line 693, ../sass/utilities.scss */
input, textarea {
  padding: .75em;
  border: none;
  border-radius: 3px;
  outline: none;
  outline-style: none;
  font-size: .9em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 705, ../sass/utilities.scss */
.quick-find input {
  background-image: url(../../img/icon-search.png);
  background-position: right center;
  background-repeat: no-repeat;
}

/* line 711, ../sass/utilities.scss */
.checkbox {
  display: inline-block;
  width: .9em;
  height: .9em;
  margin: 0 0.25em 0 0;
  border: 1px solid #b2b2b2;
  background-color: #fafafa;
  border-radius: 2px;
  vertical-align: middle;
}

/* line 727, ../sass/utilities.scss */
.radio {
  display: inline-block;
  margin: 0 1em 0 0;
  font-size: 1.1em;
  line-height: 0;
  vertical-align: middle;
}
/* line 735, ../sass/utilities.scss */
.radio:before {
  display: inline-block;
  content: '';
  width: .9em;
  height: .9em;
  margin: 0 0.3em 0 0;
  background-color: #ffffff;
  border: 4px solid white;
  border-radius: 100%;
  vertical-align: middle;
}
/* line 748, ../sass/utilities.scss */
.radio.active:before {
  background-color: #40454b;
}

/* line 755, ../sass/utilities.scss */
.icon {
  display: inline-block;
}

/* line 760, ../sass/utilities.scss */
.icon-class,
.icon:before {
  position: relative;
  display: inline-block;
  margin: -0.1em 0.4em 0 0;
  font-family: 'Icons';
  font-size: 1.5rem;
  vertical-align: middle;
  line-height: 1rem;
  color: inherit;
  -webkit-font-smoothing: antialiased;
}

/* line 774, ../sass/utilities.scss */
.icon-tasks:before {
  content: "\e000";
}

/* line 777, ../sass/utilities.scss */
.icon-tabletscale:before {
  content: "\e001";
}

/* line 780, ../sass/utilities.scss */
.icon-tablet:before {
  content: "\e002";
}

/* line 783, ../sass/utilities.scss */
.icon-search:before {
  content: "\e003";
}

/* line 786, ../sass/utilities.scss */
.icon-report:before {
  content: "\e004";
}

/* line 789, ../sass/utilities.scss */
.icon-remove:before {
  content: "\e005";
}

/* line 792, ../sass/utilities.scss */
.icon-profile:before {
  content: "\e006";
}

/* line 795, ../sass/utilities.scss */
.icon-plus:before {
  content: "\e007";
}

/* line 798, ../sass/utilities.scss */
.icon-pagelayout5:before {
  content: "\e008";
}

/* line 801, ../sass/utilities.scss */
.icon-pagelayout4:before {
  content: "\e009";
}

/* line 804, ../sass/utilities.scss */
.icon-pagelayout3:before {
  content: "\e00a";
}

/* line 807, ../sass/utilities.scss */
.icon-pagelayout2:before {
  content: "\e00b";
}

/* line 810, ../sass/utilities.scss */
.icon-pagelayout1:before {
  content: "\e00c";
}

/* line 813, ../sass/utilities.scss */
.icon-move:before {
  content: "\e00d";
}

/* line 816, ../sass/utilities.scss */
.icon-mobilescale:before {
  content: "\e00e";
}

/* line 819, ../sass/utilities.scss */
.icon-mobile:before {
  content: "\e00f";
}

/* line 822, ../sass/utilities.scss */
.icon-message:before {
  content: "\e010";
}

/* line 825, ../sass/utilities.scss */
.icon-link:before {
  content: "\e011";
}

/* line 828, ../sass/utilities.scss */
.icon-groups:before {
  content: "\e012";
}

/* line 831, ../sass/utilities.scss */
.icon-grab:before {
  content: "\e013";
}

/* line 834, ../sass/utilities.scss */
.icon-following:before {
  content: "\e014";
}

/* line 837, ../sass/utilities.scss */
.icon-followers:before {
  content: "\e015";
}

/* line 840, ../sass/utilities.scss */
.icon-file:before {
  content: "\e016";
}

/* line 843, ../sass/utilities.scss */
.icon-edit:before {
  content: "\e017";
}

/* line 846, ../sass/utilities.scss */
.icon-dropwdownarrow:before {
  content: "\e018";
}

/* line 849, ../sass/utilities.scss */
.icon-desktopscale:before {
  content: "\e019";
}

/* line 852, ../sass/utilities.scss */
.icon-desktop:before {
  content: "\e01a";
}

/* line 855, ../sass/utilities.scss */
.icon-carrot:before {
  content: "\e01b";
}

/* line 858, ../sass/utilities.scss */
.icon-arrow:before {
  content: "\e01c";
}

/* line 861, ../sass/utilities.scss */
.icon-analytics:before {
  content: "\e01d";
}

/* line 864, ../sass/utilities.scss */
.icon-circlegraph2:before {
  content: "\e01e";
}

/* line 867, ../sass/utilities.scss */
.icon-circlegraph1:before {
  content: "\e01f";
}

/* line 870, ../sass/utilities.scss */
.icon-close:before {
  content: "\e020";
}

/* line 873, ../sass/utilities.scss */
.icon-timeoff:before {
  content: "\e021";
}

/* line 876, ../sass/utilities.scss */
.icon-lead:before {
  content: "\e022";
}

/* line 879, ../sass/utilities.scss */
.icon-contact:before {
  content: "\e023";
}

/* line 882, ../sass/utilities.scss */
.icon-case:before {
  content: "\e024";
}
